{% extends 'Mine/temp.html' %}
{% block title %} Востановление пароля {% endblock %}
{% block content %}
<h3>Регистрация</h3>
<form action="{% url 'forget_password' %}" method="post" class="char-form">
{% csrf_token %}
    <div class="mb-3">
    <label for="{{form.email.id_for_label}}" class="form-label">{{form.email.label}}</label>
             {{form.email}}
    </div>

      <div class="mb-3 form-check">
      {{form.check}}
    <label class="form-check-label" for="{{form.check.id_for_label}}">{{form.check.label}}</label>
  </div>
  <button type="submit" class="btn btn-primary">Отправить</button>
</form>
    <h1>{{error}}</h1>
{% endblock %}
